<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<ul>
    <li><a href="/bye">Goodbye</a> </li>
    <li><a href="/exit">Exit</a> </li>
    <li><a href="/calculator?a=2&b=2&action=addition">Calculator Addition</a></li>
    <li><a href="/calculator?a=2&b=2&action=multiplication">Calculator Multiplication</a></li>
    <li><a href="/calculator?a=2&b=2&action=subtraction">Calculator Subtraction </a></li>
    <li><a href="/calculator?a=2&b=2&action=division">Calculator Division</a></li>
    <li><a href="/">Home</a> </li>
</ul>
<body>
<h1>Hello World!
    <p th:text="${message}" /> </h1>
<h2>You are wonderful!</h2>
</body>
</html>